<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse"
          data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="/home">
          <img src="/css/ABetterYou.png" id="brand-logo">
        </a>
      </div>
    </div>
    <!-- /.navbar-collapse -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right"
      id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input placeholder="Ingredients(e.g. chicken)" type="text"
            class="form-control" id="user-input">
        </div>
        <button class="patient-search btn btn-default">Search for Recipes</button>
      </form>
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h1>USER INFO</h1>
      <div class="panel panel-default patient-info" style="overflow-x:auto;">
        <table style="width:100%">
          <thead>
          <tr>
            <th>Name</th>
            <th>Risk Factor</th>
            <th>Recommended Diet</th>
            <th>Allergies/Restrictions</th>
          </tr>
          </thead>
          <tbody>
          {{#each patients}} {{> users/user-block}} {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row recipe-area" style='display:none'>
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div id="panel-slider" class="panel panel-default">
        <div class="panel-body">
          <!-- Where the carousel goes -->
          <div id="sliders" class="slide carousel" data-ride="carousel"
            data-pause="true">
            <!-- Carousel slides -->
            <div id="carousel" class="carousel carousel-inner">
              <ol class='carousel-indicators'>
              </ol>
              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox" id="item-list">
                <div class="item active" id="item-active">
                </div>
                <!-- <div class="item" id="item-one">
                                 </div> -->
              </div>
            </div>
            <!-- Carosel Controls -->
            <div id="controls">
              <a class="left" href="#sliders" data-slide="prev" title="Previous
                Slide">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <i id="pause" class="fa fa-pause" title="Pause"></i>
              <i id="play" class="fa fa-play" title="Play"></i>
              <a class="right" href="#sliders" data-slide="next" title="Next
                Slide">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 plotlyjs-container">
      <div class='buttons-wrapper'>
        <button id="macros" class="btn btn-default btn-sm plot-btn">MACROS</button>
        <button id="fats" class="btn btn-default btn-sm plot-btn">FATS</button>
        <button id="minerals" class="btn btn-default btn-sm plot-btn">MINERALS</button>
        <button id="vitamins" class="btn btn-default btn-sm plot-btn">VITAMINS</button>
      </div>
      <div id="macros-container" class="donut-container-active"></div>
      <div id="fats-container" class="donut-container"></div>
      <div id="minerals-container" class="donut-container"></div>
      <div id="vitamins-container" class="donut-container"></div>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-2 col-lg-2"></div>
  </div>
  <div class="row">
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-10">
      <h1>RECIPE BOX</h1>
      <div class="patient-info">
        {{> recipes/recipe-block}}
      </div>
    </div>
    <div class="col-xs-0 col-sm-0 col-md-1 col-lg-1"></div>
  </div>
</div>
<!-- Modal -->
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <img src="/css/ABetterYou.png" id="brand-logo">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h2 class="modal-title">
          A BETTER YOU
        </h2>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary close">close</button>
      </div>
    </div>
  </div>
</div>
<div class="bottom">
  <footer id="footer">
    <nav class="navbar navbar-default navbar-fixed-bottom">
      <div class="container-fluid footer-place">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-footer">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-footer">
            <a href="/home">
              <img src="/css/ABetterYou.png" id="footer-logo">
            </a>
          </div>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>
  </footer>
  {{#each scripts}}
  <script src="{{script}}"></script>
  {{/each}}
  {{#each links}}
  <link rel="stylesheet" href="{{link}}" type="text/css" />
  {{/each}}