

html {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('cutting-board-2.png');
  background-repeat: round;
  background-size: cover;
  background: #EBE1D6;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-family: 'Libre Baskerville', serif;
}

nav {
  background-color: #2c3f51;
  color: #eeeeee;
}

main {
  flex-grow: 1;
  padding: 2rem 0;
}

table {
  font-family: arial, sans-serif;
  font-size: 20px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  font-weight: bolder;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

td {
  color: white;
}

a {
  color: whitesmoke;
}


.dropdown-select {
  padding: 5px 5px 0px 20px;
  /* padding-bottom: 19.5px; */
}
.navbar-right {
  padding: 5px 20px 5px 20px;
}

.brand-logo {
  height: 50px;
  width: 100px;
  border-radius: 0.35rem;
}

.container-fluid {
  padding-left: 0;
}

.panel-default {
  font-size: 20px;
  background: rgba(44, 62, 79, 0.2);
  padding: 0;
}

.doctor-form {
  display: none;
}

.please-login {
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

.login-wrapper {
  background: #8fb854;
  padding: 1rem;
  margin: 1rem 0;
  border-radius: .25rem;
}

.login-btn {
  background: #2c3f51;
  border: 1px solid #2c3f51;
}

.login-btn:hover {
  background: #4F7292;
  border: 1px solid #2c3f51;
}

#copyright {
  color: whitesmoke;
  text-align: right;
}


.patient-container {
  padding-bottom: 80px;
}

.search-results {
  display: hidden;
}

#sliders {
  display: flex;
  align-items: center;
  height: 100%;
}

.item,
.active {
  position: relative;
}

.plotly-anchor {
  position: absolute;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  text-overflow: ellipsis;
  bottom: 20%;
  left: 20%;
}

.plotly-anchor:hover {
  color: white;
  text-decoration: underline;
}

.plotlyjs-container {
  position: relative;
  margin: 0;
  padding: 0;
}

.donut-container {
  display: none;
}

.buttons-wrapper {
  width: 100%;
  position: absolute;
  top: 1.5rem;
  display: flex;
}

.plot-btn {
  font-size: 1rem;
  width: 5.75rem;
  margin-right: 0.25rem;
  border-color: #749541;
  background-color: #749541;
  color: white;
}

.fave {
    position: absolute;
    bottom: 5%;
    right: 20%;
}

.save {
  position: absolute;
  bottom: 5%;
  left: 20%;
}

.save,
.fave,
.change-favorite {
  border-color: #749541;
  background-color: #749541;
  color: white;
  z-index: 5;
}

.change-favorite:hover {
  border-color: #324b1f;
  background-color: #324b1f;
  color: white;
}

.recipe-card {
  margin-bottom: 15px;
}

.recipe-name {
  text-align: center;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-img {
  display: flex;
  margin: 0 auto;
  border-radius: 0.5rem;
}

.saved-recipe {
  width: 100%;
  height: auto;
}

.get-recipe,
.change-favorite,
.delete-recipe {
  margin: 2px;
  width: 100%;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table tr:last-child {
    margin-bottom: 0;
    border-bottom: 1.5px solid #ddd;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }
}
