html {
  position: relative;
  height: auto;
  min-height: 100vh;
}

body {
  background-image: url('test.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow-x: hidden;
  /* background: #EBE1D6; */
  height: auto;
  min-height: 100vh;
}

table {
  font-family: arial, sans-serif;
  font-size: 20px;
  border-collapse: collapse;
  border: 1px solid #ddd;
  border-spacing: 0;
  width: 100%;
}

td,
th {
  font-weight: bolder;
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  border: 1px solid #ddd;
}

td {
  color: white;
}

a {
  color: whitesmoke;
}

.dropdown-select {
  padding: 5px 5px 0px 20px;
  /* padding-bottom: 19.5px; */
}
.navbar-right {
  padding: 5px 20px 5px 20px;
}

#brand-logo {
  height: 61px;
  width: 120px;
}

.container-fluid {
  padding-left: 0;
}

.panel-default {
  font-size: 20px;
  background: rgba(44, 62, 79, 0.2);
  padding: 0;
}

.doctor-form {
  display: none;
}

.please-login {
  margin: 10px 0px 10px 0px;
  padding: 10px;
}

#copyright {
  color: whitesmoke;
  text-align: right;
}

#footer-logo {
  float: right;
  height: 61px;
  width: 120px;
}

.footer-place {
  padding-right: 0;
}

.patient-container {
  padding-bottom: 80px;
}

.search-results {
  display: hidden;
}

.item,
.active {
  position: relative;
}

.plotly-anchor {
  position: absolute;
  text-decoration: none;
  color: white !important;
  text-overflow: ellipsis;
  bottom: 50px;
  left: 25px;
}

.plotlyjs-container {
  position: relative;
}

.donut-container {
  display: none;
}

.buttons-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.plot-btn {
  font-size: 1.1rem;
  width: 8rem;
}

.save,
.fave {
  width: 50%;
}

.fave,
.change-favorite {
  border-color: #749541;
  background-color: #749541;
  color: white;
}

.fave,
.change-favorite:hover {
  border-color: #324b1f;
  background-color: #324b1f;
  color: white;
}

.recipe-card {
  margin-bottom: 15px;
}

.recipe-name {
  text-align: center;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.recipe-img {
  max-width: 150px;
}

.saved-recipe {
  width: 100%;
  height: auto;
}

.get-recipe,
.change-favorite,
.delete-recipe {
  margin: 2px;
  width: 100%;
}

.bottom {
  margin-bottom: 100px;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }

  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table td:last-child {
    border-bottom: 0;
  }

  table tr:last-child {
    margin-bottom: 0;
  }
}
