{{!-- <nav class="navbar navbar-expand-lg navbar-dark"> --}}
  {{!-- <a class="navbar-brand" href="/">
    <img src="/css/abetteryou.png" class="brand-logo" />
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarTogglerDemo02"
    aria-controls="navbarTogglerDemo02"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      {{#each links}}
      <li class="nav-item active">
        <a class="nav-link" href="{{this.href}}">
          {{this.label}}
          <span class="sr-only">
            (current)
          </span>
        </a>
      </li>
      {{/each}}
    </ul>
  </div>
</nav> --}}

  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/">
      <img src="/css/abetteryou.png" class="brand-logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
  </nav>